/*@charset "utf-8";*/
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td { 
margin:0; 
padding:0; 
}
*{
	font-size: 14px;
	font-family: "Microsoft Yahei",arial, sans-serif;
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
fieldset,img { 
border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-style:normal; 
font-weight:normal; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border:0; 
} 
.left{float:left;display:inline;}
.right{float:right;display:inline;}
.clear{clear:both;}

.b{font-weight:bold;}

/*颜色*/
.color-1{color:#fff;}/*白色*/
.color-2{color:#000;}

/*单线边框*/

.border-1{border:1px solid #8ec5f6;}/*浅蓝线框*/
.border-2{border:1px solid #c6c6c6;}/*灰色线框*/
.border-3{border:1px solid #99dbad;}

/*链接样式*/
a{ margin:0px; text-decoration:none; border:none;}
a:link{color:#000;}
a:visited{color:#000;}
a:hover{color:#F00;}
a:active{color:#000;}
/*位置*/


#rootview{height:100%;width:100%;}
#login-logo{background:url(login_logo.png) 50px 70px no-repeat;height:125px;}
#center{background:#2da4cc url(login_bg.png) left top repeat-y; height:450px;}

#loginwin{position:absolute;height:300px;width:350px;background:white;top:50%;margin-top:-160px;right:100px;text-align:center;background-color: rgba(255,255,255,0.5);}
#logintitle{height:70px;line-height:70px;font-family: "微软雅黑";font-size:14px;}
#loginuser,#loginpass{border:1px solid #ccc;height:25px; width:220px;background:#eee;border-radius:2px;margin:10px auto;}
#loginuser input{background:url(login_yonghuming.png) no-repeat;padding-left:30px;border:none;outline:none;height:25px;}
#loginpass input{background:url(login_mima.png) no-repeat;padding-left:30px;border:none;outline:none;height:25px;}

#loginremenber{margin-bottom:60px;}

#loginsubmit{background:url(login_bt.png) no-repeat;width:267px;height:50px;color:white;padding-bottom:20px; border:none;}


#bottom{text-align:center;line-height:40px;height:150px;}
